.page {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 32px 24px 64px;
}

.header {
  margin-bottom: 24px;
}

.titleWrapper {
  position: relative;
  display: inline-block;
}

.sectionTitle {
  font-size: 32px;
  font-weight: 800;
  margin: 0;
}

.subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.statusText {
  font-size: 15px;
  color: #555;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
  .sectionTitle {
    font-size: 25px;
  }
}

.cardWrapper {
  position: relative;
}

/* RESERVE KNAP */

.reserveButton {
  margin-top: 8px;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #222;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

.reserveButtonActive {
  background: linear-gradient(90deg, #fca738, #ff74df);
  color: #fff;
  border: none;
}

.reserveButtonActive:hover {
  filter: brightness(1.03);
}
